/* Apply background to the entire body */
body {
  background-image: url('/public/background2.png');
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0;
  padding: 0;
  background-size: 100%
}

/* Style for the landing page */
.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style the white background for the TripsGallery component */
.white-background {
  background-color: white;
  padding: 20px; /* Add padding as needed */
}
