.maskGroupIcon {
  position: absolute;
  top: 0;
  left: 32px;
  width: 186px;
  height: 186px;
  object-fit: cover;
}
.logoIcon {
  position: absolute;
  top: 71px;
  left: 273.32px;
  width: 268.68px;
  height: 75px;
}
.image30Icon,
.maskGroupIcon1 {
  position: absolute;
  top: 7px;
  left: 598px;
  width: 210.85px;
  height: 210.85px;
  object-fit: cover;
}
.image30Icon {
  top: 83px;
  left: 866px;
  width: 78.03px;
  height: 78.03px;
}
.image10Icon,
.maskGroupIcon2,
.maskGroupIcon3 {
  position: absolute;
  top: 24px;
  left: 1210px;
  width: 167.96px;
  height: 167.96px;
  object-fit: cover;
}
.image10Icon,
.maskGroupIcon3 {
  top: 37px;
  left: 979px;
  width: 156.07px;
  height: 170.54px;
}
.image10Icon {
  top: 103px;
  left: 1453px;
  width: 58px;
  height: 58px;
}
.image1Icon,
.image2Icon,
.maskGroupIcon4 {
  position: absolute;
  top: 249px;
  left: 32px;
  width: 48.48px;
  height: 31.94px;
  object-fit: cover;
}
.image2Icon,
.maskGroupIcon4 {
  top: 243px;
  left: 138px;
  width: 39px;
  height: 45px;
}
.maskGroupIcon4 {
  left: 247px;
  width: 181px;
  height: 181px;
}
.image34Icon,
.image44Icon,
.image50Icon {
  position: absolute;
  top: 281px;
  left: 530px;
  width: 54px;
  height: 62px;
  object-fit: cover;
}
.image34Icon,
.image50Icon {
  top: 294px;
  left: 658px;
  width: 45px;
  height: 45px;
}
.image50Icon {
  top: 306px;
  left: 760px;
  width: 29px;
  height: 29px;
}
.image45Icon,
.image46Icon,
.image49Icon {
  position: absolute;
  top: 307px;
  left: 863px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.image45Icon,
.image46Icon {
  top: 305px;
  left: 945px;
  width: 29px;
  height: 29px;
}
.image45Icon {
  left: 1022px;
  width: 32px;
  height: 32px;
}
.icons {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 501px;
  overflow: hidden;
}
