@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arial:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-quattrocento: Quattrocento;
  --font-jura: Jura;
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-arial: Arial;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-16xl: 35px;
  --font-size-base: 16px;
  --font-size-38xl: 57px;
  --font-size-3xs: 10px;
  --font-size-smi: 13px;
  --font-size-lg: 18px;
  --font-size-21xl: 40px;
  --font-size-131xl: 150px;
  --font-size-6xl: 25px;
  --font-size-13xl: 32px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-mid: 17px;
  --font-size-14xl: 33px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-4xl: 23px;
  --font-size-26xl: 45px;
  --font-size-40xl: 59px;
  --font-size-31xl: 50px;

  /* Colors */
  --color-white: #fff;
  --color-blueviolet-100: #9747ff;
  --color-blueviolet-200: #613eea;
  --color-black: #000;
  --color-gray-100: #fafafa;
  --color-gray-200: #737678;
  --color-gray-300: #212529;
  --color-gray-400: #191919;
  --color-gray-500: rgba(255, 255, 255, 0.9);
  --color-gray-600: rgba(255, 255, 255, 0.39);
  --color-gray-700: rgba(33, 37, 41, 0.55);
  --color-gray-800: rgba(0, 0, 0, 0.56);
  --color-gray-900: rgba(0, 0, 0, 0.84);
  --color-gray-1000: rgba(0, 0, 0, 0.4);
  --color-gray-1100: rgba(33, 37, 41, 0.4);
  --color-gray-1200: rgba(33, 37, 41, 0.63);
  --color-gray-1300: rgba(3, 3, 3, 0.53);
  --color-dimgray-100: #6f7174;
  --color-dimgray-200: #666;
  --color-dimgray-300: rgba(102, 102, 102, 0.31);
  --color-dimgray-400: rgba(102, 102, 102, 0.41);
  --color-lightsteelblue-100: #a4abc9;
  --color-lightgray-100: #d0d0d0;
  --color-lightgray-200: #cecccc;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(221, 215, 215, 0.46);
  --color-whitesmoke-100: #f2f1f1;
  --color-whitesmoke-200: #ebebeb;
  --color-silver: #c9c9c9;
  --color-slategray: #6e7590;
  --color-aliceblue: #e9f1fa;

  /* Gaps */
  --gap-9xs: 4px;
  --gap-42xl: 61px;
  --gap-172xl: 191px;
  --gap-4xs-6: 8.6px;
  --gap-0: 0px;
  --gap-5xs-6: 7.6px;
  --gap-xs: 12px;
  --gap-16xl: 35px;
  --gap-xl: 20px;
  --gap-10xl-6: 29.6px;
  --gap-52xl: 71px;
  --gap-6xs: 7px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-lg: 18px;
  --padding-21xl: 40px;
  --padding-xs: 12px;
  --padding-20xl: 39px;
  --padding-27xl: 46px;
  --padding-5xl: 24px;
  --padding-35xl: 54px;
  --padding-mini: 15px;
  --padding-base-5: 16.5px;
  --padding-10xl-9: 29.9px;
  --padding-12xs: 1px;
  --padding-9xl-1: 28.1px;
  --padding-3xs-6: 9.6px;
  --padding-4xs-4: 8.4px;
  --padding-12xs-7: 0.7px;
  --padding-12xs-5: 0.5px;
  --padding-0: 0px;
  --padding-30xl-5: 49.5px;
  --padding-31xl: 50px;
  --padding-11xs: 2px;
  --padding-37xl-4: 56.4px;
  --padding-37xl-6: 56.6px;
  --padding-40xl-1: 59.1px;
  --padding-41xl: 60px;
  --padding-40xl-6: 59.6px;
  --padding-12xs-1: 0.1px;
  --padding-40xl-9: 59.9px;
  --padding-smi-7: 12.7px;
  --padding-20xl-7: 39.7px;
  --padding-10xs-7: 2.7px;
  --padding-49xl-5: 68.5px;
  --padding-94xl: 113px;
  --padding-3xs-1: 9.1px;
  --padding-5xs-9: 7.9px;
  --padding-4xs-6: 8.6px;
  --padding-3xl-3: 22.3px;
  --padding-xl-7: 20.7px;
  --padding-11xs-8: 1.8px;
  --padding-10xs-2: 2.2px;
  --padding-21xl-9: 40.9px;
  --padding-10xs-5: 2.5px;
  --padding-24xl-1: 43.1px;

  /* border radiuses */
  --br-8xs: 5px;
  --br-7xl: 26px;
  --br-base: 16px;
  --br-50xl: 69px;
  --br-12xs: 1px;
  --br-44xl: 63px;
  --br-41xl: 60px;
  --br-5xl: 24px;
  --br-121xl: 140px;
  --br-24xl: 43px;
  --br-33xl: 52px;
  --br-114xl-5: 133.5px;
  --br-25xl: 44px;
  --br-10xl-5: 29.5px;
  --br-9xl: 28px;
  --br-153xl: 172px;
  --br-91xl-4: 110.4px;
}
