.radio-group-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .radio-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .radio-option {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .radio-option label {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: #000; /* Set text color to black */
  }
  
  .radio-option label:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .radio-option input[type="radio"] {
    display: none;
  }
  
  .radio-option label {
    cursor: pointer;
  }
  
  .radio-option input[type="radio"]:checked + label {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .small-text {
    font-size: 12px;
    color: #423f3f;
    max-width: 200px; /* Adjust the maximum width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }